{% load staticfiles %}
{% load change_form %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add View</title>
    <link rel="stylesheet" type="text/css" href="{% static 'cadmin/css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'cadmin/css/cadmin-form.css' %}"/>
    <script language="javascript" type="text/javascript"></script>
</head>
<body>
<div class="container">
    <h1>Add html</h1>

    {% form form %}
{#    the first form is a templatetag#}
</div>
</body>
</html>